<!-- Add your site or application content here -->
<header>
    <h1>Tiger<span>Spike</span></h1>
</header>

<div class="container">



    <section class="image-gallery col-xs-12">

            <div class="spinner" ng-if="Home.loading"></div>


              <div ng-if="!Home.loading">
                  <!-- <div  data-ng-repeat="item in list">
                      {{ item }}
                  </div> -->

                  <div class="dynamic-grid" angular-grid="pics" ag-options="angularGridOptions" ag-id="gallery"  >
                    <figure data-ng-repeat="picture in Home.pictures.items" class="grid effect-picture">
                      <a href="{{picture.link}}" target="_blank">
                        <img src="{{picture.media.m}}" class="grid-img" data-actual-width="{{picture.actualWidth}}"  data-actual-height="{{picture.actualHeight}}" />

                        <figcaption>
                            <h2>{{ picture.title || 'N/A' }}</h2>

                            <p class="meta-holder">
                                <span class="title">{{ picture.author || 'N/A'}}</span>

                                <!--
                                      More Meta information available but doesn't look great. Sometimes less is more.                                      
                                      <span class="author">Author : {{ picture.author || 'N/A' }}</span>
                                      <span class="author_id">Author Id: {{ picture.author_id || 'N/A' }}</span>
                                      <span class="taken_at">Date Taken : {{ picture.date_taken  | date:'yyyy/MM/dd' || 'N/A' }}</span>
                                      <span class="created_at">Publish Date : {{ picture.published  | date:'yyyy/MM/dd' || 'N/A'}}</span>
                                      <span class="tags">Tags : {{ picture.tags || 'N/A'}}</span>
                                -->
                            </p>
                        </figcaption>
                      </a>
                    </figure>
                  </div>





              </div>





        <div class="clearfix"></div>
    </section>

    <div class="clearfix"></div>
</div>
